<ul class="sidebar-nav list-group">
  <li class="list-group-item">
    {% if user.is_authenticated %}
      <a href="{% url 'board:worker-profile-detail' user.id %}">My Profile</a>
    {% else %}
      <a href="{% url 'login' %}">My Profile</a>
    {% endif %}
  </li>
  <li class="list-group-item">
    <a href="{% url 'board:index' %}">Project</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'board:task-list' %}">Tasks</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'board:worker-list' %}">Workers</a>
  </li>
</ul>
<br>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="btn btn-light btn-hover" type="submit">Logout</button>
    </form>
  {% else %}
    <form action="{% url 'login' %}" method="">
      {% csrf_token %}
      <button class="btn btn-light btn-hover"  type="submit">Login</button>
    </form>
  {% endif %}
